.products {
  display: grid;
  justify-content: center;
  text-align: center;
  height: 410px;
  width: 255px;
  background-color: #e9d6c5;
  margin-top: 10px;
}

.titulo {
  padding-top: 5px;
}

.precio {
  padding-top: 5px;
  font-weight: bold;
}

.button-card {
  background-color: #fbf9f6;
  border: none;
  height: 35px;
  cursor: pointer;
  color: #4f3018;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_card {
  height: 300px;
  width: 215px;
  padding-top: 15px;
}
